<div class="container">
  <form>

    <p>Enter your email and we'll send you a link to reset your password</p>

    {{input name="email" autocapitalize="off" type="text" value=email}}

    <div class="input-group">
      <input class="button default {{if hasError "has-error"}}" name="forgot-password" type="submit" value="Forgot Password" {{action forgotPassword email}} />
    </div>

    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </form>
</div>
