<div class="container">
  <form>

    <p>Enter your email and we'll send you a link to reset your password</p>

    {{input name="email" autocapitalize="off" type="text" value=email}}

    <div class="input-group">
      <button id="reset-password" class="default" type="submit" disabled={{isLoading}} {{action "forgotPassword" email}}>
       "Forgot password"
      </button>
    </div>

    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </form>
</div>
