<div class="container">
  <form>

    {{input name="email" autocapitalize="off" type="text" placeholder='Your email' value=email key-down="keyDown"}}

    <div class="input-group">
      <input class="button default {{if hasError "has-error"}}" name="forgot-password" type="submit" value='Forgot Password' {{action forgotPassword email}} />
    </div>

    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </form>
</div>
